@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PredictorModel;

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Crop Recommendation Result</title>

</head>
<body>
<h1 class="text-center">RESULTS</h1>
<h2>Your Input Parameters</h2>
<table>
    <thead>
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <strong>Nitrogen (N)</strong>
        </td>
        <td>@Model.Nitrogen</td>
    </tr>
    <tr>
        <td>
            <strong>Phosphorus (P)</strong>
        </td>
        <td>@Model.Phosphorus</td>
    </tr>
    <tr>
        <td>
            <strong>Potassium (K)</strong>
        </td>
        <td>@Model.Potassium</td>
    </tr>
    <tr>
        <td>
            <strong>Temperature</strong>
        </td>
        <td>@Model.Temperature &#8451;</td> @* Added Celsius symbol *@
    </tr>
    <tr>
        <td>
            <strong>Humidity</strong>
        </td>
        <td>@Model.Humidity %</td>
    </tr>
    <tr>
        <td>
            <strong>pH</strong>
        </td>
        <td>@Model.Ph</td>
    </tr>
    <tr>
        <td>
            <strong>Rainfall</strong>
        </td>
        <td>@Model.Rainfall mm</td>
    </tr>
    </tbody>
</table>

<h2>Recommended crop: @ViewData["Prediction"] </h2>
</body>

</html>